body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
    background-color: rgb(56, 56, 56);
    text-align: center;
}

.chamada {
    background: rgb(193, 143, 212);
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chamada-texto {
    margin-right: 5%;
    color: white;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

p {
    font-size: 18px;
    color: #e0e0e0;
}

.categoria {
    padding: 20px;
    margin-top: 50px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria-videos img {
    opacity: 0.7;
    height: 200px;
    transition: opacity 0.3s, transform 0.3s;
}

.categoria-videos img:hover {
    opacity: 1;
    transform: scale(1.1);
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
    text-align: center;
}
